/*******
 Header
*******/

h1 {
    background-color: rgb(38, 38, 38);
    display: flex;
    align-items: center; 
    justify-content: center;
}

/* Desktop Only Header */

@media only screen and (min-width: 70em) {
    h1 {
        align-items: center; 
        height: 20vw;
        justify-content: center;
        max-height: 396px;
        max-width: 396px;
        padding: 0 0.5em;
        width: 20%;
    }
    nav li {
        height: 20vw;
        top: 0;
    }
}

/* Desktop and Tablet Header */

@media only screen and (min-width: 50em) {
    h1 {
        font-size: 250%;
    }
}

/* Tablet and Phone Header */

@media only screen and (max-width: 70em) {
    nav {
        height: calc(2 * (100vw / 3));
    }
    h1 {
        height: calc(100vw / 3);
        margin-left: calc(2 * (100% / 3)) ;
    }
    nav li {
        top: 0;
    }
    #discovery-log-button {
        padding-top: calc(100vw / 3);
        top: 0;
    }
    #literature-review-button {;
        top: calc(100vw / 3);
    }
    #media-button {
        top: calc(100vw / 3);
    }
}

/* Phone Only Header */

@media only screen and (max-width: 50em) {
    h1 {
        font-size: 175%;
    }
}

/*****
 Main
*****/

p:last-of-type {
    margin-bottom: 0;  
}
#contents {
    display: inline-block;
    position: sticky; 
    float: right;
}
main a {
    color: rgb(0, 158, 226);
}
main a:visited {
    color: rgb(98, 19, 96);
}

/* Desktop Only Main */

@media only screen and (min-width: 70em) {
    #contents {
        margin: 0 20% 10em 0;
        padding: 10em 1em 10em;
    }
    aside ~ article:first-of-type {
        display: inline-block;
        margin-left: 20%;
        padding: 8em 1em 10em 0;
    }
}

/* Tablet Only Main */

@media only screen and (max-width: 70em) and (min-width: 50em) {
    #contents {
        margin-bottom: 10em;
    }
}